@{
    ViewBag.Title = "Sobre";
}
<div class="about">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <p>
        Atua na área de desenvolvimento de sistemas a pouco mais de 1 ano. Continua no primeiro
        emprego em que foi efetivado. O projeto principal em que trabalhou, inicialmente foi criar apps
        multiplataformas para uma plataforma de cursos online em C++ e NodeJS, desenvolvido para
        Windows, Android e Web durante pouco mais de 8 meses, ao final deste projeto, o
        profissional foi movido para um projeto paralelo para desenvolver apenas para Web.
        Atualmente, trabalha com JavaScript/Typescript no front-end e NodeJs no back-end, além
        destas linguagens, utiliza as seguintes ferramentas: AWS, Docker, MongoDB, Git, CI/CD
        Formando pela Faculdade de Tecnologia de Sorocaba em Análise e Desenvolvimento de
        Sistemas.
    </p>
    <p><a href="Contact" class="btn btn-primary btn-lg">Leia mais</a></p>

</div>

