@{
    ViewBag.Title = "Home Page";
}

<div class="content-home">

    <h1>G7 Teste</h1>
    <p class="lead">Site feito em .NET utilizando arquitetura MVC para que fosse mostrado o conhecimento do candidato Branderson Lima. </p>
    <p><a href="Home/About" class="btn btn-primary btn-lg">Leia mais</a></p>

</div>

